In [1]:
import numpy as np
import pandas as pd

weight = pd.read_csv("/home/calibretaliation/LinkedIn-Analysis/popularity_weight.csv")
weight

      actor1   actor2  weight
0         31       32  67.775
1         31       33  67.775
2         31       34  67.775
3         31       35  67.775
4         31     6751  67.775
..       ...      ...     ...
751  3817649  3817687  67.775
752  3817649  3817690  67.775
753  3817652  3817687  67.775
754  3817652  3817690  67.775
755  3817687  3817690  67.775

[756 rows x 3 columns]

In [2]:
actor_1 = weight['actor1'].unique().tolist()
actor_2 = weight['actor2'].unique().tolist()

actor_list = list(set(actor_1 + actor_2))
actor_list.insert(0, 0)
print(actor_list.index(3084))
#add ground node to list index
N = len(actor_list)
l = len(weight)
print("Number of actors: ", N)
print("Number of edges: ", l)
#Adjacent matrix P 
# P[i,j] = 0: no directed edge from i to j
# P[i,j] = 1: directed edge from i to j
#P[0,:]: ground node
P = np.zeros((N, N))
for i in range(1,N):
    P[0,i] = 1
    P[i,0] = 1
    if weight[weight['actor1'] == actor_list[i]] is not None:
        j_list = weight[weight['actor1'] == actor_list[i]]['actor2']
        for j in j_list:
            P[i, actor_list.index(j)] = 1   
            P[actor_list.index(j), i] = 1    
#Now divide adjacent matrix P by out degree of each node
D_out = P.sum(axis = 0)
D_in = P.sum(axis = 1)

for i in range(N):
    for j in range(N):

        P[j,i] = P[j,i]/D_out[j]

#Score matrix S
S = pd.DataFrame(data = {'actors': actor_list, 
                        'score': np.ones(N)})

S['score'][0] = 0
S

1
Number of actors:  99
Number of edges:  756

/tmp/ipykernel_33973/3533468052.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  S['score'][0] = 0

     actors  score
0         0    0.0
1      3084    1.0
2      3087    1.0
3     93210    1.0
4   1808925    1.0
..      ...    ...
94    53714    1.0
95  3106770    1.0
96  1517550    1.0
97  2072566    1.0
98  2408958    1.0

[99 rows x 2 columns]

In [3]:
P_prime = P.transpose()

In [4]:
error = 100000
error_thres = 0.00001
old = S.copy()
iter = 0
P_prime = P.transpose()
while error > error_thres:
    iter += 1
    for i in range(N):
        S['score'][i] = sum(np.multiply(S['score'], P_prime[i]))
    error = sum(abs(S['score'][1:] - old['score'][1:]))/N
    print(error)
    old = S.copy()
print("ITERATION: ", iter)

0.11454357855428304
0.09236327748061383
0.06867392753351766
0.05122002424604302
0.039462174434058
0.03157453250956984
0.025803555424901068
0.022310798191939436
0.019571304862423117
0.017258927704445138
0.015289351226043154
0.01359777245635176
0.012133964260788891
0.01085866398371151
0.009740908031903818
0.008756052993695067
0.007884299316551746
0.007109584921817315
0.006418752309608442
0.0058009186201514506
0.005246996849341726
0.004749330035066342
0.004301410176206613
0.0038976609364742634
0.0035332685471595854
0.0032040492787708927
0.0029063447784687187
0.0026369387416420487
0.0023929900010302165
0.0021719783209604143
0.0019716600842214584
0.00179003173324697
0.0016252993335015638
0.0014758530079908756
0.001340245279347484
0.0012171725735112035
0.001105459304132677
0.0010040440825195725
0.0009119676939838539
0.0008283625551220729
0.0007524434233002581
0.0006834991735596649
0.000620885492368554
0.0005640183644216029
0.0005123682498069649
0.00046545486563451114
0.00042284249961865134
0.0003841357939361215
0.000348975946481636
0.0003170372838590012
0.0002880241664264947
0.0002616681907094838
0.00023772565868810581
0.00021597528704530628
0.0001962161325108072
0.00017826571206551946
0.00016195829905941492
0.00014714337828644142
0.00013368424480816483
0.00012145673285972592
0.00011034806254352172
0.00010025579321733019
9.10868735820426e-05
8.275677942471533e-05
7.518873085378057e-05
6.831298163417288e-05
6.206617393453043e-05
5.639075242307686e-05
5.123443223075865e-05
4.654971579852073e-05
4.229345410091953e-05
3.842644815907012e-05
3.491308712111986e-05
3.172101955815559e-05
2.8820854905640215e-05
2.6185892291565387e-05
2.379187422266031e-05
2.1616762856422926e-05
1.9640536773216006e-05
1.7845006375940238e-05
1.621364620400702e-05
1.4731442607983523e-05
1.3384755377843171e-05
1.2161192046988732e-05
1.1049493704604204e-05
1.0039431267299496e-05
9.121711246473035e-06
ITERATION:  87

/tmp/ipykernel_33973/3440876870.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  S['score'][i] = sum(np.multiply(S['score'], P_prime[i]))

In [5]:
for i in range(1,N):
    S['score'][i] = sum(np.multiply(S['score'][1:], P_prime[i][1:]))

/tmp/ipykernel_33973/3369004321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  S['score'][i] = sum(np.multiply(S['score'][1:], P_prime[i][1:]))

In [6]:
S.sort_values(by="score")

     actors     score
96  1517550  0.031689
29  1684099  0.063378
25  3814001  0.185470
56      206  0.185470
53      205  0.207373
..      ...       ...
7        33  1.831188
6        32  1.833443
5        31  1.835625
4   1808925  1.837737
0         0  6.211001

[99 rows x 2 columns]

In [11]:
out = S.sort_values(by="score", ascending = False).drop(0, axis = 0)
out['rank'] = 0
for i in range(len(out)):
    out['rank'][i] = i
out.drop('score', axis = 1, inplace = True)
out

/tmp/ipykernel_33973/932987476.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out['rank'][i] = i
/tmp/ipykernel_33973/932987476.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out['rank'][i] = i

     actors  rank
4   1808925     4
5        31     5
6        32     6
7        33     7
8        34     8
..      ...   ...
53      205    53
56      206    56
25  3814001    25
29  1684099    29
96  1517550    96

[98 rows x 2 columns]

In [13]:
with open("LeaderRank.csv", "w") as file:
    out.to_csv(file)